:root{
    --first-color: rgb(180, 208, 231);
    --second-color: rgb(0, 97, 255)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;   
}


section{
    padding-top: 100px;
    padding-bottom: 100px;
}

header{
    width: 99vw;
    background-color: var(--first-color);
}

h1{
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
    padding-bottom: 50px;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

h3{
    font-weight: bolder;
}

h4{
    font-size: 1rem;
}

nav{
    width: 100%;
}


.nav-container{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.fixed-list{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: .9rem;
    font-weight: 500;
}


.left-nav, .right-nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn{
    background-color: var(--second-color);
    color: white;
    border: none;
    padding: .5rem .7rem;
    font-size: .9rem;
}

.right-nav{
    flex-direction: row-reverse;
}


.hero-section{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.container-xl{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}


.jumbo-img{
    height: 400px;
    display: block; 
    margin-bottom: -200px;
}

/* chiedere position */


.hero-btn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.link-arrow i{
    color: black;
    font-size: 2.5rem;
}

.link-arrow{
    display: inline-block;
    margin-top: 25%;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: auto;
}

.header-section{
    padding-bottom: 0px;
}

.desc p {
    line-height: 1.3rem;
}


.radio{
    padding-top: 2.5rem;
    padding-bottom: 2.3rem;
}

.radio label{
    display: inline-block;
    padding-right: 5rem;
    font-size: .8rem;
}


.card-catalog {
    width: 100%;
    display: flex;
    gap: 3rem
}

.card{
    flex-basis: 33%;
    border: 1px solid rgb(208, 208, 211)
}

.group{
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    border: 1px solid rgb(208, 208, 211)
}

.group i{
    color: black;
}

.offer, .focus-point{
    padding: 3rem 1.5rem 3rem 1.3rem;
}

.cost{
    padding-bottom: 4rem;
    line-height: 3rem;
}

.pad-reso{
    padding-bottom: 1.3rem;
}


.offer .btn{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: .8rem 2.5rem;
}

.line{
    margin-top: 5rem;
    width: 20%;
    border-bottom: 1px solid rgb(208, 208, 211);
}


.offer-list{
    list-style: none;
    list-style-image: url(../img/checkmark.webp);
    padding-left: .9rem;
    line-height: 1.5rem;
    
}


.focus-point h4{
    padding-bottom: 2rem;
}
