:root{
    --first-color: rgb(180, 208, 231);
    --second-color: rgb(0, 97, 255)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

header{
    width: 99vw;
    background-color: var(--first-color);
}

nav{
    width: 100%;
}

.nav-container{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.fixed-list{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: .9rem;
    font-weight: 500;
}


.left-nav, .right-nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn{
    background-color: var(--second-color);
    color: white;
    border: none;
    padding: .5rem .7rem;
    font-size: .9rem;
}

.right-nav{
    flex-direction: row-reverse;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
    padding-bottom: 50px;
}

.hero-section{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.container-xl{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}


.jumbo-img{
    height: 400px;
}

.hero-btn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.link-arrow i{
    color: black;
    font-size: 2.5rem;
}

.link-arrow{
    display: inline-block;
    margin-top: 30%;
}